.countdown_launch {
	font-family: "Geist";
    font-size: 4rem;
    font-weight: 500;

    color: #ffffff;
    padding: 1rem 0;
    margin: 0 auto;
}


.redbg {
	font-family: "Geist";
    font-size: 2rem;
    font-weight: 150;

    color: #ffffff;
    padding: 1rem 0;
        
}