body {
    margin: 0 auto;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

b {
    font-weight: 200;
}

.centered {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cuteborder {
    border: 1px solid #9E9BFE;
    box-sizing: border-box;
}

.textunderneath {
    display: block;
    margin-top: 0;
    text-align: center;
    font-size: 1rem;
}

.padded {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.section-read-abovethefold {
    background-color: #222;
    text-align: center;
    width: 100%;
}

.section-read-abovethefold h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    padding: 1rem 0;
}

.section-read-abovethefold h2 {
    font-size: 3rem;
    font-weight: 100;
    line-height: 3rem;
    letter-spacing: -1px;
    color: #fff;
    padding-top: 2.5rem;
}

.section-read-abovethefold h3 {
    font-size: 2rem;
    color: #a7a7a7;
}

.section-read-abovethefold h4 {
    font-size: 1rem;
    font-weight: 16;
    line-height: 0;
    color: #a7a7a7;
}

.section-read-comparison {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    background-color: #F5F5F5;
    box-shadow: inset 0 -0.5rem 0.5rem -0.5rem rgba(110, 110, 110, 0.5);
}

.section-read-comparison h1 {
    font-size: 3rem;
    color: #444;
    text-align: center;
}

.section-read-footer {
    font-size: 0.75em;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    color: #F5F5F5;
    background-color: #282828;
    box-shadow: inset 0 -0.5rem 0.5rem -0.5rem rgba(110, 110, 110, 0.5);
}

.section-read-modules {
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
    background-color: #F5F5F5;
    box-shadow: inset 0 -0.5rem 0.5rem -0.5rem rgba(110, 110, 110, 0.5);
}

.section-read-disclamer h1 {
    font-size: 1.5em;
}


.wrap-list-disclamer {
    margin: 2em auto 0;
    max-width: 600px;
    padding: 3em;
    background-color: #ffdddd;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


@media (max-width: 500px) {

    .section-read-modules h1 {
        font-size: 1.25em;
    }    

    .section-read-abovethefold h1 {
        font-size: 1.5em;
    }

    .section-read-abovethefold h2 {
        font-size: 2.5em;
    }
    
    .section-read-abovethefold h3 {
        font-size: 1.5em;
    }
    
    .section-read-abovethefold h4 {
        font-size: 0.85em;
    }
    
}


.redbg {
    background-color: red;
}

#anchor-smooth {
    scroll-behavior: smooth;
}

.separator {
    border-top: 1px solid #33333311;
}